</div>
<div class="footer">
    <div class="footer-text">
        <p>
            <%= config['wiki'].title %> using <a href="https://github.com/phoenixlzx/MinoriWiki" target="_blank">MinoriWiki</a>
        </p>
    </div>
</div>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
