<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Custom panel title</h3>
	</div>
    <div class="panel-body">
    	<p>Custom panel content</p>
    	<p>Edit it for your needs</p>
    </div>
</div>